# Age of Miks 2 - balance gameplay
# Formato: clave=valor

precio_aldeano=50
precio_soldado=100

alcance_aldeano=3
alcance_soldado=6

resistencia_aldeano=100
resistencia_soldado=200

ataque_aldeano=10
ataque_soldado=50

defensa_aldeano=2
defensa_soldado=4

precio_centro=400
precio_almacen=250
ingreso_almacen=2
